/* color palette
#FFCB08 - pokemon yellow
#CBC5B3 - grey
#3563ad - medium blue
#1e386e - dark blue
#021A59 - shadow blue
#70B8F0 - light blue
*/

body {
	font-family: "Righteous";
	font-style: normal;
	background: url(../images/pokemap.jpg);
	background-color: #4880c0;
}

.navbar {
	justify-content: space-around;
}

.navbar-logo.img-fluid {
	max-width: 138px;
}

.btn,
.btn-secondary {
	font-family: "Righteous";
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: #3563ad;
	color: #ffcb08;
	border: 3px solid #1e386e;
	border-radius: 20px;
	width: 150px;
}

.btn,
.btn-secondary {
	transition-duration: 0.3s;
}

.btn:hover,
.btn-secondary:hover {
	background-color: #1e386e;
	color: #ffcb08;
	border: 3px solid #3563ad;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px rgba(2, 26, 89, 0.8);
}

.list-group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	margin-bottom: 10px;
}

.list-group-item {
	list-style-type: none;
	text-align: center;
	margin: 5px;
	background-color: transparent;
	width: 150px;
}

.modal-content {
	background: rgba(53, 99, 173);
	border-radius: 20px;
}

.modal-dialog {
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	display: grid;
	border-radius: 20px;
}

.modal-title {
	font-family: "Righteous";
	color: #ffcb08;
	font-size: 20px;
}
.modal-body {
	font-family: "Righteous";
	color: #ffcb08;
	font-size: 20px;
}

.modal-image {
	max-width: 100%;
	height: auto;
	margin-top: 40px;
}
